body {
  background-color: #101010;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  display: block;
}

input,
select {
  width: 100%;
}

span {
  color: tomato;
  display: block;
  font-size: small;
}
